.card-img-top {
    background-color: gray;
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
}

.card-img-top p {
    font-size: 20px;
    text-align: center;
    margin: auto;
    color: white;
}

.card-group {
    width: 80%;
    margin: auto;
}

.card {
    width: 20rem;
    margin: 15px;
}

.card-link {
    color: #212529;
    text-decoration: none;
    border: 1px #212529 solid;
    padding: 5px;
    border-radius: 2px;
}

.btn-primary {
    background-color: white;
    border-color: #212529;
    color: #212529;
}

.minutos {
    float: right;
}
